In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn import linear_model, tree, ensemble

In [6]:
td = pd.read_csv('student_scores2.csv')

In [7]:
td

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [8]:
X = td[['Hours']]
y = td['Scores']

In [18]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
c = 1
for train_index, test_index in kf.split(X):
    print(f'Train {c} :', train_index, 'Test:', test_index)
    c += 1

Train 1 : [ 1  2  3  4  5  6  7  9 10 12 13 14 15 17 18 19 20 21 22 24] Test: [ 0  8 11 16 23]
Train 2 : [ 0  2  3  4  6  7  8 10 11 12 14 15 16 17 18 19 20 21 23 24] Test: [ 1  5  9 13 22]
Train 3 : [ 0  1  5  6  7  8  9 10 11 13 14 16 17 18 19 20 21 22 23 24] Test: [ 2  3  4 12 15]
Train 4 : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 19 22 23] Test: [17 18 20 21 24]
Train 5 : [ 0  1  2  3  4  5  8  9 11 12 13 15 16 17 18 20 21 22 23 24] Test: [ 6  7 10 14 19]

In [20]:
score = cross_val_score(linear_model.LinearRegression(), X, y, cv= kf)
print(f'Scores for each fold: {score}')
np.sqrt(score.mean())

Scores for each fold: [0.96780555 0.74949743 0.90881545 0.94043752 0.95414507]

0.9508628739261666

**Використав к-кратну кросвалідацію він здався мені найбліш зрозумілим, по даним оцінки модель можна використовувати, тому що оцінка моделі досить висока(0.95).**